table.itable {
    background-color: #F9FDFE;
    border-spacing: 0;
    width: 100%;
}

table.itable > thead > tr > th {
    border-bottom: 1px solid #DAE7EA;
    cursor: default;
    font-size: 90%;
    padding: 14px 18px;
    text-align: left;
}

table.itable > thead > tr > th.itable-sort i:after {
    content: " ";
    float: right;
    font-size: 80%;
    text-align: right;
    width: 20px;
}

table.itable > thead > tr > th.itable-sort-asc i:after {
    content: "▲";
}

table.itable > thead > tr > th.itable-sort-desc i:after {
    content: "▼";
}

table.itable > tbody > tr > td {
    border-bottom: 1px solid #EDEDED;
    padding: 14px 18px;
}
